.faq {
    max-width: 1360px;
    margin: 120px auto;
    color: $dark-grey;
    display: flex;
    align-items: center;
    gap: 52px;
    padding-right: 16px;
    padding-left: 16px;
    @include tablet {
        gap: 24px;
    }
    @include mobile-lg {
        margin: 60px auto;
    }

    &__main {
        background-color: $orange;
        padding: 60px;
        box-sizing: border-box;
        width: 50%;
        max-width: 630px;
        border-radius: 32px;
        @include tablet {
            padding: 32px 20px;
        }
        @include mobile-lg {
            max-width: unset;
            width: 100%;
            padding: 32px 0;
        }
    }

    &__title {
        font-size: 64px;
        line-height: 94%;
        letter-spacing: -0.02em;
        margin-bottom: 32px;
        @include tablet {
            font-size: 40px;
            line-height: 90%;
        }
        @include mobile-lg {
            text-align: center;
        }
    }

    &__list {
        margin-bottom: 32px;
        @include mobile-lg {
            margin-bottom: unset;
        }
    }

    &__list-item {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        opacity: 0.8;
        padding: 20px 32px;
        border-bottom: 1px solid rgba(53, 53, 53, 0.2);
        cursor: pointer;
        &.active {
            font-weight: 700;
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }
        @include tablet {
            padding: 20px 24px;
        }
    }

    &__list-item-answer {
        background-color: $white-bg;
        font-size: 14px;
        line-height: 140%;
        padding: 0 24px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.15s ease, padding 0.15s ease;
        overflow: auto;
    
        &.active {
            max-height: 200px; 
            padding: 16px 24px;
            border-bottom: 1px solid rgba(53, 53, 53, 0.2);
        }
    
        &_mobile {
            @media screen and (min-width: 769px) {
                display: none !important;
            }
        }
    }

    &__terms-btn {
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 16px;
        color: $dark-grey;
        text-decoration: none;
        padding: 11px 30px;
        border: 1px solid rgba(53, 53, 53, 0.2);
        border-radius: 35px;
        width: fit-content;
        transition: all 0.15s;
        @include mobile-lg {
            display: none;
        }
        &:hover {
            background-color: $dark-grey;
            color: $white;

            svg path {
                transition: all 0.15s;
                stroke: $white;
            }

            svg {
                transition: all 0.15s;
                transform: translateX(5px);
            }
        }
    }

    &__answer {
        width: 50%;
        @include mobile-lg {
            display: none;
        }
    }

    &__answer-item {
        visibility: hidden;
        position: absolute;
        transition: opacity 0.15s, transform 0.3s;
        opacity: 0;
        transform: translateY(20px); 
        &.active {
            visibility: visible;
            position: static;
            opacity: 1;
            transform: translateY(0);
        }
    }
    

    &__answer-question {
        font-weight: 500;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.02em;
        margin-bottom: 24px;
    }

    &__answer-body {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }
}
